
* {
    box-sizing: border-box;
}

body {
    margin-bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    width: 100%;
    text-align: center;
    padding:10px;

}

header img {
    width: 100%;
    max-width: 500px;
}

main {
    width: 100%;
}

.main-text {
    font-size: 16px;
}

#form {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    margin:auto;
}

#clear-from, #clear-to {
    border-radius: 100%;
    top: -2px;
    position: relative;
    border: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
}

.form-row {
    margin-bottom: 10px;
    clear: both;
}

.form-row:nth-of-type(n + 2) {
    margin: 0;
    margin-top: -10px;
}

#form form input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.switch-from-to {
    text-align: right;
    width: 100%;
}

.switch-from-to button {
    border-radius: 100%;
    border: 0;

    font-size: 20px;
}

#show-distance {
    margin-top: 10px;
}

#address {
    display: none;
    margin-top: 5px;
}
#show-distance:checked + #address {
    display: block;
}

#form form input[type=submit] {
    width: 100%;
    background: rgb(69, 134, 255);
    border: 0;
    padding: 15px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}


#result {
    width: 100%;
    max-width: 800px;
    display:none;
    margin:auto;
}

.direction-hint {
    margin-bottom: 40px;
    text-align:center;

}

.direction-hint .direction {
    width: 100%;
    margin-bottom: 5px;
    color: rgb(69, 134, 255);
    text-decoration: underline;
    font-family: sans-serif;
}

.direction-hint .direction-sign {
}

.direction-hint .distance-to {
    font-size: 0.9em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px;
    text-align: center;
    font-style: italic;
    background: white;
    font-size: 12px;
}